@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply bg-andromedablack;
    @apply text-andromedaforeground;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 50px;
}

::-webkit-scrollbar-thumb {
  height: 50%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
